body {
	font-family: 'Share Tech Mono', monospace;
	background-color: white;
}

header {
	font-family: 'Share Tech Mono', monospace;
	background-color: orange;
	color: white;
	padding: 1rem;
}

h1 {
	font-family: 'Share Tech Mono', monospace;
	margin: 0;
	font-size: 2rem;
	font-weight: bold;
}

main {
	font-family: 'Share Tech Mono', monospace;
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
}

.container {
	background-color: white;
	padding: 2rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.form-group {
	margin-bottom: 1rem;
}

label {
	font-family: 'Share Tech Mono', monospace;
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

input[type="text"], textarea {
	display: block;
	width: 100%;
	padding: 0.5rem;
	
	border-radius: 5px;
}

select {
	display: block;
	width: 100%;
	padding: 0.5rem;

	border-radius: 5px;
}

button[type="submit"] {
	font-family: 'Share Tech Mono', monospace;
	background-color: orange;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
}

.btn-generate {
	font-family: 'Share Tech Mono', monospace;
	background-color: orange;
	color: white;
	border: none;
	padding: .5rem .5rem; /* change the padding to make the button larger */
	border-radius: 5px;
	cursor: pointer;
  }
  


.result {
	margin-top: 2rem;
}

.response {
    font-size: 1.2rem;
}


h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

p {
	
	margin: 0;
	padding: 1
}